@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
  overflow: visible;
}

/* header section */
.main-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #5e5df0; */
  height: 7vh;
}

.main-menu nav ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  color: #5e5df0;
  /* text-transform: uppercase; */
  letter-spacing: -0.035em;
  font-weight: 900;
  font-size: 20px;
}
li > a:hover {
  border-bottom: 4px solid #646369;
}

/* Title section */
h1 a {
  margin: 20px;
  color: #5e5df0;
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 4px 4px 2px #d9d9d9;
  letter-spacing: -0.035em;
}

.title {
  display: flex;
  justify-content: center;
}

.title-info {
  color: #646369;
  text-align: center;
}
.title-info a {
  color: #646369;
}

.collab-link {
  text-align: center;
}
.collab-link {
  margin: 20px;
}

.button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
  color: #5e5df0;
  border-radius: 999px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
}

.button-34 {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.button:hover{
  transition: 0.5s ease-in-out;
  box-shadow: #5e5df0 0 10px 20px -10px;
}
.button-34:hover{
  transition: 0.5s ease-in-out;
  box-shadow: #5e5df0 0 10px 20px -10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Container */
.container-1{
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.container-2{
  display: flex;
  flex-direction: column;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

/* From input */
.form-input {
  border: 0;
  border-radius: 4px;
  padding: 10px 12px;
  background-color: #f5f5f5;
  outline: none;
  width: 80%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.divider {
  width: 50%;
  margin: auto;
}
/* about section */
.box {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
}

.about-info {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -0.035em;
  color: #5e5df0;
  margin-bottom: 20px;
}

.about-para {
  color: #646369;
  margin-bottom: 20px;
  line-height: 1.4em;
  font-size: 16px;
  text-align: center;
}

.about-reach {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -0.035em;
  color: #5e5df0;
}
.icons {
  margin-bottom: 10px;
}

.icons a {
  padding: 10px;
  color: #646369;
  font-size: 30px;
}
.icons a:hover {
  color: #5e5df0;
}
/* work section */
.work {
  text-align: center;
  margin: 20px;
}

/* internship and certificate */
.internship {
  margin-top: 20px;
  text-align: center;
}
.title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.035em;
  color: #5e5df0;
}

/* Internship and course section */
.internship-box-1 {
  border: 0;
  border: 2px solid red;
  outline: none;
  border-radius: 8px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.internship-box-1 > a {
  color: black;
}

.site-shot{
  width: 400px;
  max-width: 100%;
  /* border: 1px solid black; */
  border-radius: 8px ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-container {
  display: flex;
  width: 50%;
  height: 30vh;
  margin: auto;
  border: 2px solid red;
  border: 0;
  border-radius: 4px;
  /* background-color: #f5f5f5; */
  justify-content: space-between;
  align-items: center;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}  
/* 
.flex-child:first-child {
  margin-right: 20px;
}  */

@media only screen and (max-width: 767px) {
  /*--[ Mobile styles go here]---------------------------*/

  h1 a {
    font-size: 30px;
  }
}
